

/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background: #2f2f2f;
    color: #f6f6f6;
    margin-top: 90px;

}

.rights{
    position: absolute;
    left: 50%;
    bottom: -30px ;
    z-index: 100;
    transform: translateX(-50%);
}

footer .text-start{
    width: 25%;
  
}


.icon{
    font-size: 2rem;
    cursor: pointer;
    
  }